body {
	background: #d5dde1c4 !important;
	.saveBtn{
		margin-top:15px;
		padding:10px;
		width: 100%;
	}
	.layout-padding {
		@media $desktop {
			padding: 4rem 1rem;
		}

		@media $tab {
			padding: 3rem 1rem;
		}

		@media $mobile {
			padding: 2rem 0rem;
		}
	}

	.q-layout-page-container {

		padding-top: 30px !important;

		@media $mobile {
			padding-top: 35px !important;
		}

		@media $tab {
			padding-top: 35px !important;
		}
	}
	.q-card {
		padding: 15px;
		box-shadow: none;
		min-height: 86vh;

		.q-if-label {
			font-size: 12px;
		}

		.q-if-inverted.bg-primary {
			background: #1c374eb0 !important;
		}

		.q-card-container {
			padding-top: 0px !important;
			width: 280px;
		}
	}
	.fab-position {
		bottom: 30px;
		right: 60px;

		@media $tab {
			right: 35px;
		}

		@media $mobile {
			bottom: 15px;
			right: 15px;
		}
	}

	.q-table-container {
		box-shadow: none !important;
	}

	.dashboard-card {
		background-color: white;
		margin-top: 15px;
		border-radius: 		10px;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	}

	.card-item {
		max-width: 18rem;
		padding-left: 15px;
	}

	.icon {
		width:29%;
		padding-top:13%;
	}

	.avatar {
	    vertical-align: middle;
	    width: 60%;
	    height: 68%;
	    border-radius: 100%;
	    margin-left:50px;
	}
	.newspng{

    max-width:200px;
		max-height:200px;
	}
	.q-btn {
		background: #69c07a !important;
		color: white !important;
	}
	.mobile-avatar {
	    vertical-align: middle;
	    width: 54%;
	    height: 93%;
	    border-radius: 50%;
	}

	.qbt_close{
	  background: red !important;
	  color: white !important;
	}
	.bg-grey {
		background: #69c07a !important;
	}
	.q-tabs-bar {
		border: 2px solid #102033;
	}
}
.img_styl{
	width: 200px; 
	height: 150px;
}
.img_close{
	margin-bottom:300px;
}
.header_font{
	color: white;
	padding-top: 7px;
	padding-bottom: 7px;
	font-size: 17px;
}
.link-img{
	width: 22px;
	height: 22px;
}
.img_logo{
	margin-left: -20px;
	width:150px;
	padding-top: 7px;
}
@media screen and (max-width: 600px) {
 .img_logo {
   width: 115px;
 }
}
.inner_head_styl{
	color: #555555;
	font-weight: 500;
}
.sideBarBtnBg{
	background: rgba(16,32,51,0.871) !important
}
.backgroung_color{
	background: rgb(16, 32, 51) !important;
}
.header_text{
	margin-left: 14px;
}
.card-styl{
	margin-top: 45px;
	margin-left: 10px;
    margin-right: 10px;
}
.small-font{
	font-size: 28px
}
.big-font{
	font-size: 60px
}
.pull-right{
	text-align: right;
}
.carton-align{
	text-align: center;
}
.carton-sm-hide{
	display: none
}
.carton-md-hide{
	display: inline;
}
.fixed-height-carton-id{
	min-height: 40px
}
.carton-id-style{
	font-size: 30px;
	height:30px;
	font-weight:600;
}
@media screen and (max-width: 600px) {
	.card-styl{
	margin-top: 38px;
	margin-left: 10px;
    margin-right: 10px;
  }
}

@media only screen and (max-width: 600px) {
    body {
        text-align: center;
    }
    .big-font{
    	font-size: 60px
    }
    .small-font{
    	font-size: 25px;
    }
    .pull-left{
    	text-align: left;
    }
    .carton-align{
		text-align: center;
	}
	.carton-md-hide{
		display: none;
	}
	.carton-sm-hide{
		display: block;
	}
	.fixed-height-carton-id{
		min-height: 80px
	}
}