.login-card {
 width: 27%;

 @media $tab {
   width: 50%;
 }

 @media $mobile {
   width: 97%;
 }

 .forgotPassword {
   float: right;
   text-decoration: none;
 }

 .login-logo {
   width: 80px;
 }

 .errorMsg {
   font-size: small;
   color: #EB0019
 }

 .bg-color {
   background-color:#333;
 }

 .on-left {
   align:center;
 }

 .input-field{
   font-color: #ffffff;
 }
}
 .regist_s{
   background-color: #202C38;
 }
 .qcard_s{
   border-radius: 7px;
 }
 .img_s{
   width: 80px;
 }
 .div_s{
   padding-top:30px;
 }
 .cap_s{
   color:#bbb9b9;
 }
 .mobile_s{
   border-radius: 7px;
   color:#446174;
 }
 .mobile_is{
   font-size: small;
   color: #EB0019;
 }
 .otp_fs{
   color:white;
 }
 .valid_os{
   color:#bbb9b9;
 }
 .cap_rs{
   color:#bbb9b9;margin: 0px;
 }
 .inline_s{
   border-radius: 7px;
 }
 .first_s{
   font-size: small; color: #EB0019;
 }