<!DOCTYPE html>
<html>
 <head>
   <title>Myntra</title>
   <meta charset="utf-8">
   <meta name="description" content="<%= htmlWebpackPlugin.options.productDescription %>">
   <meta name="format-detection" content="telephone=no">
   <meta name="msapplication-tap-highlight" content="no">
   <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova) { %>, viewport-fit=cover<% } %>">

   <!-- <link rel="icon" href="statics/quasar-logo.png" type="image/x-icon"> -->
   <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
   <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
   <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
 </head>
 <body>
   <!-- DO NOT touch the following DIV -->
   <div id="q-app"></div>
   <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js"></script>
   <script src="https://www.gstatic.com/firebasejs/5.5.0/firebase.js"></script>
   <script>
     // Initialize Firebase
     var config = {
       apiKey: "AIzaSyBScgWL0P8wVEEC7mzzau3NPA08aogME7U",
       authDomain: "product-put-scan.firebaseapp.com",
       databaseURL: "https://product-put-scan.firebaseio.com",
       projectId: "product-put-scan",
       storageBucket: "product-put-scan.appspot.com",
       messagingSenderId: "71637035910"
     };
     firebase.initializeApp(config);
   </script>
 </body>
</html>
